.appBar {
    top: auto;
    bottom: 0;
    height: 48px;
}

.root {
    flex: 1;
    margin: 0 !important;
}

.gridList {
    width: 500;
    height: 450;
}

.Footer {
    width: 100%;
    height: 48px;
    background-color: #212121;
}

